[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "==19.10b0" # TODO: Pray for non pre-release version
coverage = "*"
flake8 = "*"
flake8-bandit = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-coding = "*"
flake8-comprehensions = "*"
flake8-isort = "*"
flake8-pie = "*"
flake8-print = "*"
flake8-pytest = "*"
flake8-pytest-style = "*"
flake8-requirements = "*"
flake8-self = "*"
flake8-strict = "*"
flake8-todo = "*"
flake8-variables-names = "*"
isort = {extras = ["pipfile"],version = "*"}
line-profiler = "*"
mypy = "*"
pep8-naming = "*"
profilehooks = "*"
pydocstyle = "*"
# pylint = "*"
pytest = "*"
pytest-cov = "*"
radon = "*"
sphinx-rtd-theme = "*"
vulture = "*"

[packages]
# jupyter = "*"
# tqdm = "*"
